<!-- templates/base.html Simple html for template with block contents only -->
{% load static %}
<!DOCTYPE html>
<html>
<!-- HEADER AND STYLESHEETS -->
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/w3schools.css' %}">
  <link rel="stylesheet" href="{% static 'css/fontRaleway.css' %}">
  <link rel="stylesheet" href="{% static 'css/modal.css' %}">
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>

